/*
Table of contents 
###############################
1) general styles
2) hourlyWeather
3) lightModeDarkModeSwitch
4) mainInfo
5) rightSideMain
6) weeklyForecast
7) Responsivnes 
################################
*/


/******************************/
/* General Styles start       */
/******************************/


.App {
  background-color: #252525;
  color: white;
  padding: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1f; 
  grid-template-rows: 1fr 1fr 1fr 1f 1fr 1fr; 
  gap: 20px; 
}
/******************************/
/* General Styles end         */
/******************************/



/******************************/
/* hourlyWeather styles start */
/******************************/

.hourly-weather-item {
  display: inline-block;
  margin-right: 20px; /* Add spacing between items */
}

.hourly-weather-box {
  grid-column: 2 / span 3; /* Position in the grid */
  grid-row: 3; 
}


/******************************/
/* hourlyWeather styles ends  */
/******************************/


/*****************************************/
/* lightModeDarkModeSwitch Styles start  */
/*****************************************/


/*****************************************/
/* lightModeDarkModeSwitch Styles end    */
/*****************************************/



/******************************/
/* mainInfo Styles start      */
/******************************/

.main-info h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.main-info h3 {
  font-size: 32px;
}

.main-info {
  grid-column: 2; /* Position in the grid */
  grid-row: 1; 
}

/******************************/
/* mainInfo Styles end        */
/******************************/


/**********************************/
/* rightSideMainInfo Styles start */
/**********************************/

.right-side-main-info h1 {
  font-size: 48px;
}

.right-side-main-info h2{
  font-size: 32px;
}

.right-side-main-info {
  grid-column: 4; /* Position in the grid */
  grid-row: 1; 
}

/**********************************/
/* rightSideMainInfo Styles end   */
/**********************************/


/*******************************/
/* weeklyForecast Styles start */
/*******************************/


/*******************************/
/* weeklyForecast Styles end */
/*******************************/


/**********************/
/* Responsivnes start */
/**********************/


/**********************/
/* Responsivnes end   */
/**********************/


