
/*
Table of contents 
###############################
1) reset
2) landscape responsiveness
    2.1) general styles
    2.2) lightModeDarkModeSwitch
    2.3) mainInfo
    2.4) hourlyWeather
    2.5) rightSideMainInfo
    2.6) weeklyForecast
    2.7) calendar icon
3) mobile responsiveness
    2.1) general styles
    2.2) lightModeDarkModeSwitch
    2.3) mainInfo
    2.4) rightSideMainInfo
    2.5) hourlyWeather
    2.6) weeklyForecast
    2.7) calendar icon
################################
*/


/************************/
/*        reset         */
/************************/

h1, h2, p, h3, h4{
    font-size: 100%;
    font-weight: 500;
}

/* Popup.css */
/* .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup h2{
    text-align: center;
  }
  
  .popup-content {
    margin: 30px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #eee;
  } */
  

.theme-dark svg path{
    color: white;
}

/**********************************/
/*    landscape responsiveness    */
/**********************************/

@media screen and (max-width: 2560px) {

    @media screen and (orientation:landscape) {

        /************************/
        /*    General Styles    */
        /************************/

        .App {
            /* background colour */
            background: linear-gradient(180deg, #141313 1.5%, #141313 13.5%, #141313 21%, #191717 43%, #2B2929 64.5%, #312F2F 89%, #363333 98.01%, #353333 99.99%, #333030 100%, #7A7474 100%), #D9D9D9;             
            /* font color */
            color: white; 
            padding: 20px;
            margin: 0;
            padding: 0;
        }
        
        .layout {
            display: grid;
        
            grid-template-columns: 7fr 3fr;
        
            grid-template-areas: 
            /* first switch needs to be replaced for calander implementation */
            'l-switch r-switch'  
            /* SECOND ROW */
            'main-info right-side-main-info'
            /* THIRD ROW */
            'hourly-weather-box weekly-forecast-box';
        
            /* Cover the entire viewport height AND width */
            min-height: 100vh;
            width: 100vw;
        }
        
        .layout > :nth-child(2n + 1) {
            background: #0E0D0D;
        }


        /***************************/
        /* lightModeDarkModeSwitch */
        /***************************/

        .switch {
            grid-area: r-switch;

            display: flex;
            justify-content: right;
            align-items: center;
            
        }

        /* Styling for SVG icons within a label */
        label svg {
            position: relative;
            right: 5px;
            opacity: 1; /* Sets the initial opacity of SVG icons */
            pointer-events: none; /* Prevents SVG icons from receiving pointer events */
            transition: opacity 0.3s ease-in-out, transform 0.5s ease; /* Adds transition effects to SVG icons */
        }
        
        
        /* Styling for the sun SVG icon */
        label svg.sun {
            display: flex; /* Sets the display type for the sun SVG icon */
            align-items: center; /* Aligns items along the cross-axis */
            justify-content: center; /* Aligns items along the main-axis */
            opacity: 1; /* Sets the opacity of the sun SVG icon */
        }
        
        
        /* Styling for the moon SVG icon */
        label svg.moon {
            display: flex; /* Sets the display type for the moon SVG icon */
            opacity: 0; /* Sets the initial opacity of the moon SVG icon */
            fill: #252525; /* Sets the fill color of the moon SVG icon */
            position: relative;
            right: 35px;
        }
        
        
        /* Styling for the sun SVG icon when the input is checked */
        input:checked + label svg.sun {
            opacity: 0; /* Sets the opacity of the sun SVG icon when input is checked */
            fill: #bdbdbd; /* Sets the fill color of the sun SVG icon when input is checked */
        }
        
        
        /* Styling for the moon SVG icon when the input is checked */
        input:checked + label svg.moon {
            opacity: 1; /* Sets the opacity of the moon SVG icon when input is checked */
        }
             
        
        /* Styling for label elements */
        label {
            display: flex; /* Sets the display type for label elements */
            align-items: center; /* Aligns items along the cross-axis */
            border-radius: 15px; /* Sets the border radius of label elements */
            transition: background-color 0.3s ease; /* Adds transition effects to the background color of label elements */
        }

              
        /* Styling for input elements */
        input {
            width: 0; /* Sets the width of input elements to 0 */
            height: 0; /* Sets the height of input elements to 0 */
            visibility: hidden; /* Hides input elements from the layout */
        }
        
        /* Styling for the light theme */
        .theme-light {
            background: linear-gradient(180deg, #FFF 0%, #D0D0D0 50.77%, #A3A3A3 99.98%, #7E7E7E 99.99%, #737373 100%); /* Sets the background color of the light theme*/
            color: black; /* Sets the text color of the light theme */
        }

        .theme-light .layout > :nth-child(2n + 1) {
            background: #C0C0C0; /* Sets background colour of 2nd column */
        }

        .theme-light .hourly-weather-list,
        .theme-light .right-side-main-info-list-firstHalf,
        .theme-light .forecast-item  {
            background: #FFF9F9; /* Sets the background colour for solid shaped elements */
        }
        
        .theme-light .right-side-main-info-list-firstHalf,
        .theme-light .forecast-item  {
            filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
        }  
        
        /* Styling for the container of the switch */
        .switch-container {
            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;
            right: 30px;
            padding-top: 10px;
        }
        

        /****** TOGGLE SWITCH STYLING ******/
        
        /* Styling for the toggle switch when the theme is light */
        .theme-light .sliderRound {
            background-color: #0E0D0D /* Sets the background color of the toggle switch when in light mode*/
        }
        
        /* Styling for the toggle switch when theme is dark*/
        .sliderRound {
            cursor: pointer; /* Sets the cursor type when hovering over the toggle switch */

            width: 124px; /* Sets the width of the toggle switch */
            height: 58px; /* Sets the height of the toggle switch */

            background-color: #C0C0C0; /* Sets the background color of the toggle switch when in dark mode */

            border-radius: 34px; /* Sets the border radius of the toggle switch */
            transition: background-color 0.2s ease-in, transform 0.3s ease-out; /* Adds transition effects to the toggle switch */
        }
        


        /****** CIRCULAR ELEMENT STYLING ******/

        /* Styling for the circular element within the toggle switch when the theme is dark */
        .theme-dark .sliderRound:before {
            background-color: #0E0D0D; /* Sets the background color of the circular element when in dark mode*/
        }
        
        /* Styling for the circular element within the toggle switch when theme is light */
        .sliderRound:before {
            content: ""; /* Inserts content before the circular element */

            position: relative;
            left: 3px; 

            height: 50px; /* Sets the height of the circular element */
            width: 140px; /* Sets the width of the circular element */
            
            background-color: #C0C0C0; /* Sets the background color of the circular element when in light mode */
            
            border-radius: 50%; /* Sets the border radius of the circular element */
            transition: transform 0.3s cubic-bezier(0.25, 0.5, 0.75, 1); /* Adds transition effects to the circular element */
        }
        
        /*Styling for the circular element within the toggleSwitch when the input is checked */
        input:checked + .sliderRound:before{
            transform: translateX(150%) scale(1.0); /*Sets the transform properties of the circular element when input is checked */
        }


        /**********************/
        /*   mainInfo Styles  */
        /**********************/
        
        .mainColumn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main-info {
            grid-area: main-info;
            align-self: end;
            margin-bottom: -50px;
        }

        .main-info h1,
        .main-info h2,
        .main-info h3 {
            text-align: center;
            font-weight: 400;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            
        } 
        
        .main-info h1 {
            font-size: 190px;
            line-height: 0;
        }
        
        .main-info h2 {
            font-size: 64px;
            line-height: 0.5;
        }
        
        .main-info h3 {
            font-size: 36px;
            line-height: 0.25;
        }
               
        
        /****************************/
        /*   hourlyWeather styles   */
        /****************************/

        .hourlyColumn {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hourly-weather-box {
            grid-area: hourly-weather-box;
            width: 90%;
        }

        .hourly-weather-list {
            display: flex;
            justify-content: center;
            align-items: center;
            
            /*box design*/
            height: 200px;
            flex-shrink: 0;
            border-radius: 30px;
            
            background: #8A8A8A;
            box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
            position: relative;
        }

        .hourly-weather-item {
            width: calc(20% - 2%); /* Adjust the width of the items */
            text-align: center;
            box-sizing: border-box; /* Include margins within the width */
            position: relative;
            font-size: larger;
        }

        .hourly-weather-item:nth-child(1),
        .hourly-weather-item:nth-child(2),
        .hourly-weather-item:nth-child(3),
        .hourly-weather-item:nth-child(4),
        .hourly-weather-item:nth-child(5) {
            margin: 10px;
            border-radius: 99px;
            background: #ababab;
        }
        
        /********************************/
        /*   rightSideMainInfo Styles   */
        /********************************/

        .rightMainColumn {
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
       
        .right-side-main-info {
            grid-area: right-side-main-info;
            margin-bottom: -50px;
        }

        .right-side-main-info-list-firstHalf {
            width: 436px;
            height: 142px;
            margin: 0 12px 0 12px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #8A8A8A;  
        }

        .right-side-main-info-list-secondHalf {
            position: relative;
            margin-top: 20px;
        }
        
        .right-side-main-info h1 {
            font-size: 48px;
            text-align: center;
            margin: 0px;

        }
        
        .right-side-main-info h2{
            font-size: 25px;
            text-align: center;
            margin: 0px;
        }
        
        
        /*****************************/
        /*   weeklyForecast Styles   */
        /*****************************/

        .forecastTitle {
            display: none;
        }

        .weeklyColumn {
            display: flex;
            justify-content: center;
            align-items: center; 
        }

        .weekly-forecast-box {
            display: flex;
            justify-content: center;
            align-items: center; 
            grid-area: weekly-forecast-box;
            
            
        }
        
        .forecast-list {
            display: grid; /*made a grid for this section, so icon can be 3 per row*/
            grid-template-columns: 1fr 1fr 1fr; /* 3 columns */
            grid-gap: 30px; /* Gap between grid items */
            place-items: center;
        }
        
        .forecast-item {
            font-size: small;
            height: 129px;
            width: 50px;

            text-align: center;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            padding: 5px 12px 5px 12px;
            margin: 0px 20px 0px 20px; 
            flex-shrink: 0;
            border-radius: 999px;
            background: #8A8A8A;
        }
    
        .forecast-item h3,
        .forecast-item p {
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center; 
        }
        
        /***************************/
        /* calendar icon */
        /***************************/

        .InteractiveButton {
            grid-area: l-switch;

            display: flex;
            justify-content: left;
            align-items: center;
        }

        .buttonIcon {
            width: auto; 
            height: auto;
            display: block;
            margin: 0 auto; 
            cursor: pointer; ]
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #ffe4e1; 
            margin: 0;
            padding: 0;
        }
          
          /* Container */
        .container {
            display: flex;
            justify-content: space-between;
            max-width: 800px;
            margin: 20px auto;
        }
          
          /* Calendar */
        .calendar {
            width: 48%;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }
          
        .calendar-header {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .month-year {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
        }
          
        .calendar-body {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
        }
          
        .calendar-weekdays {
            display: flex;
            justify-content: space-between;
        }
          
        .weekday {
            padding: 10px;
            text-align: center;
        }
          
        .calendar-day {
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer;
            position: relative;
        }
          
        .calendar-day.empty {
            visibility: hidden;
          
        }
          
        .calendar-day:hover {
            background-color: #f0f0f0;
          
        }
          
        .calendar-day.selected {
            background-color: #add8e6;
          
        }
          
        .note-indicator {
            position: absolute;
            bottom: 2px;
            right: 2px;
            font-size: 12px;
            color: blue;
        }
          
        .note-indicator.no-click {
            pointer-events: none;
        }
          
          /* Monthly Review */
        .monthly-review {
            width: 48%;
            padding: 20px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            overflow-y: auto;
        }
          
        .monthly-review-content {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
            text-align: center;
        }
          
        .note-item {
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            padding-bottom: 10px;
            cursor: pointer;
        }
          
        .note-date {
            font-weight: bold;
            margin-bottom: 5px;
        }
          
        .note-content {
            margin-bottom: 5px;
        }
          
          /* Note Popup */
        .note-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            display: none;
            z-index: 1;
          }
          
        .note-popup textarea {
            width: calc(100% - 40px);
            height: 100px;
            resize: none;
            margin-bottom: 10px;
        }
          
        .note-popup button {
            width: calc(50% - 5px);
            cursor: pointer;
        }
    } 
} 
  

/*******************************/
/*    mobile responsiveness    */
/*******************************/

@media screen and (max-width: 1440px) {

    @media screen and (orientation: portrait) {
        
        /************************/
        /*    General Styles    */
        /************************/

        .App {
            color: white;
            background: linear-gradient(180deg, #141313 1.5%, #141313 13.5%, #141313 21%, #191717 43%, #2B2929 64.5%, #312F2F 89%, #363333 98.01%, #353333 99.99%, #333030 100%, #7A7474 100%), #D9D9D9;
            padding: 20px;
            margin: 0;
            padding: 0;
            overflow: scroll;
        }
        
        .App::-webkit-scrollbar {
            display: none;
        }
    
        .layout {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            height: 100vh;
        }
    
        .switch {
            order: 1;
        }
    
        .mainColumn {
            order: 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .rightMainColumn {
            order: 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    
        .hourlyColumn {
            order: 4;
        }
    
        .weeklyColumn {
            order: 5;
        }
    
        /***************************/
        /* lightModeDarkModeSwitch */
        /***************************/

        /* Styling for SVG icons within a label */
        label svg {
            position: relative;
            right: 5px;
            opacity: 1; /* Sets the initial opacity of SVG icons */
            pointer-events: none; /* Prevents SVG icons from receiving pointer events */
            transition: opacity 0.3s ease-in-out, transform 0.5s ease; /* Adds transition effects to SVG icons */
        }
        
        
        
        /* Styling for the sun SVG icon */
        label svg.sun {
            display: flex; /* Sets the display type for the sun SVG icon */
            align-items: center; /* Aligns items along the cross-axis */
            justify-content: center; /* Aligns items along the main-axis */
            opacity: 1; /* Sets the opacity of the sun SVG icon */
        }
        
        
        /* Styling for the moon SVG icon */
        label svg.moon {
            display: flex; /* Sets the display type for the moon SVG icon */
            opacity: 0; /* Sets the initial opacity of the moon SVG icon */
            fill: #252525; /* Sets the fill color of the moon SVG icon */
            position: relative;
            right: 20px;
        }
        
        
        /* Styling for the sun SVG icon when the input is checked */
        input:checked + label svg.sun {
            opacity: 0; /* Sets the opacity of the sun SVG icon when input is checked */
            fill: #bdbdbd; /* Sets the fill color of the sun SVG icon when input is checked */
        }
        
        
        /* Styling for the moon SVG icon when the input is checked */
        input:checked + label svg.moon {
            opacity: 1; /* Sets the opacity of the moon SVG icon when input is checked */
        }
        
        /* Styling for label elements */
        label {
            display: flex; /* Sets the display type for label elements */
            align-items: center; /* Aligns items along the cross-axis */
            border-radius: 15px; /* Sets the border radius of label elements */
            transition: background-color 0.3s ease; /* Adds transition effects to the background color of label elements */
        }

        /* Styling for input elements */
        input {
            width: 0; /* Sets the width of input elements to 0 */
            height: 0; /* Sets the height of input elements to 0 */
            visibility: hidden; /* Hides input elements from the layout */
        }
        
        /* Styling for the light theme */
        .theme-light {
            background: linear-gradient(180deg, #FFF 0%, #D0D0D0 50.77%, #A3A3A3 99.98%, #7E7E7E 99.99%, #737373 100%); /* Sets the background color of the light theme*/
            color: black; /* Sets the text color of the light theme */
        }

        .theme-light .hourly-weather-list,
        .theme-light .forecast-item {
            background: #FFF9F9;
        }
        
        .theme-light .main-info,
        .theme-light .forecast-item  {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        
        /* Styling for the container of the switch */
        .switch-container {
            display: flex;
            justify-content: right;
            align-items: center;

            padding-top: 10px;
            padding-right: 10px;
        }
        

        /****** TOGGLE SWITCH STYLING ******/
        
        /* Styling for the toggle switch when the theme is light */
        .theme-light .sliderRound {
            background-color: #0E0D0D /* Sets the background color of the toggle switch when in light mode */
        }

        /* Styling for the toggle switch when theme is dark */
        .sliderRound {
            cursor: pointer; /* Sets the cursor type when hovering over the toggle switch */

            width: 84px; /* Sets the width of the toggle switch */
            height: 38px; /* Sets the height of the toggle switch */
            
            background-color: #C0C0C0; /* Sets the background color of the toggle switch */
           
            border-radius: 34px; /* Sets the border radius of the toggle switch */
            transition: background-color 0.2s ease-in, transform 0.3s ease-out; /* Adds transition effects to the toggle switch */
        }
        
        
        /****** CIRCULAR ELEMENT STYLING ******/

        /* Styling for the circular element within the toggle switch when the theme is dark */
        .theme-dark .sliderRound:before {
            background-color: #0E0D0D; /* Sets the background color of the circular element when in dark mode */
        }
        
        /* Styling for the circular element within the toggle switch when theme is light */
        .sliderRound:before {
            content: ""; /* Inserts content before the circular element */

            position: relative;
            left: 3px; 

            height: 30px; /* Sets the height of the circular element */
            width: 120px; /* Sets the width of the circular element */
            
            background-color: #C0C0C0; /* Sets the background color of the circular element */
            
            border-radius: 50%; /* Sets the border radius of the circular element */
            transition: transform 0.3s cubic-bezier(0.25, 0.5, 0.75, 1); /* Adds transition effects to the circular element */
        }
        
        /*Styling for the circular element within the toggleSwitch when the input is checked */
        input:checked + .sliderRound:before{
            transform: translateX(170%) scale(1.0); /*Sets the transform properties of the circular element when input is checked */
        }
  

        /**********************/
        /*   mainInfo Styles  */
        /**********************/
    
        .main-info {
            text-align: center;
        }
    
        .main-info h1 {
            font-size: 130px;
            position: relative;
            bottom: 10px;
        }
    
        .main-info h2 {
            font-size: 45px;
            position: relative;
            bottom: 10px;
            font-weight: 400;
        }
    
        .main-info h3 {
            font-size: 25px;
            position: relative;
            bottom: 10px;
        }
    
        .main-info-list {
            line-height: 4px;
        }


        /********************************/
        /*   rightSideMainInfo Styles   */
        /********************************/

        .rightMainColumn .right-side-main-info-list-firstHalf {
            display: none;
        }  

        .right-side-main-info-list-secondHalf {
            text-align: center;
            font-size: 20px;
            position: relative;
            top: -10px;
        }
    
        
        /****************************/
        /*   hourlyWeather styles   */
        /****************************/
    
        .hourly-weather-box {
            padding: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .hourly-weather-item {
            width: calc(20% - 2%); /* Adjust the width of the items */
            text-align: center;
            box-sizing: border-box; /* Include margins within the width */
            position: relative;
            font-size: 12px;
        }
    
        .hourly-weather-list {
            /*box design*/
            overflow-x: scroll;
            display: flex;
            align-items: center;
            width: 100%;
            height: 150px;
            flex-shrink: 0;
            border-radius: 30px;
            background: #8a8a8a;
            position: relative;
        }

        .hourly-weather-list::-webkit-scrollbar {
            display: none;
        }

        .hourly-weather-item:nth-child(1),
        .hourly-weather-item:nth-child(2),
        .hourly-weather-item:nth-child(3),
        .hourly-weather-item:nth-child(4),
        .hourly-weather-item:nth-child(5) {
            margin: 10px;
            border-radius: 99px;
            background: #ababab;
        }
    
    
        /*****************************/
        /*   weeklyForecast Styles   */
        /*****************************/

        .forecastTitle {
            font-size: 30px;
            margin-left: 20px;
        }

        .weekly-forecast-box {
            padding: 10px;
        }
    
        .forecast-list {
            padding: 1em;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            overflow-x: auto;
            grid-gap: 30px;
            position: relative;
            place-items: center;
        }

        .forecast-list::-webkit-scrollbar {
            display: none;
        }
    
        .forecast-item {
            text-align: center;
            font-size: 14px;
            height: 129.863px;
            width: 46.537px;
            padding: 5px 12px 5px 12px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
    
            border-radius: 999px;
            background: #8A8A8A;
            box-shadow: 8px 7px 8.8px -1px rgba(0, 0, 0, 0.25);
        }

        /********************************/
        /*   calendar icon   */
        /********************************/

        .container {
            flex-direction: column;
        }

        .calendar, .monthly-review {
            width: 100%;
        }

        .note-popup {
            width: calc(100% - 40px);
            padding: 10px;
        }

        .note-popup button {
            width: 100%;
            margin-top: 10px;
        }
    }
}  
